*{
	box-sizing: border-box;
	font-family: $headFont;
}

html {
	background: #efefef;
	font-size: 62.5%;
	color: #262626;
}

::-moz-selection { 
	background: $primaryColor; 
	color: white;
}
::selection { 
	background: $primaryColor; 
	color: white;
}

body {
	width: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

// -- // Headings // -- //

h1, h2, h3, h4, h5, h6, p{
	color: black;
	margin: 0;
	span{
    	font-family: inherit;
	   	color: inherit;
        font-weight: inherit;
        font-size: inherit;
	}
	a{
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
	}
}

h1{
	font-size: 3.6rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.6rem;
}

h5{
	font-size: 1.3rem;
}

h6{
	font-size: 1rem;
}

p {
	font-size: 1.5rem;
	line-height: 2.2rem;
	margin-bottom: 1.8rem;
}

a{
	color: $primaryColor;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.headfont{
	font-family: $headFont;
}

.bodyfont{
	font-family: $bodyFont;
}

.small, .small p{
	font-size: 1.2rem!important;
}

.light {
	font-weight: 300!important;
}

.strong {
	font-weight: 700!important;
}

img{
	max-width:100%;
}

video{
	max-width: 100%;
}

// -- // Global Classes // -- //

.active{
	display: block !important;
}

.vertical-align{
	@include vertical-align;
}

// -- // Margins // -- //
.m-0{
	margin: 0 !important;
}

.m-1{
	margin: 10px !important;
}

.m-2{
	margin: 20px !important;
}

.m-3{
	margin: 30px !important;
}

.m-4{
	margin: 40px !important;
}

.m-5{
	margin: 50px !important;
}

.m-6{
	margin: 60px !important;
}

.mt-0{
	margin-top: 0 !important;
}

.mt-1{
	margin-top: 10px !important;
}

.mt-2{
	margin-top: 20px !important;
}

.mt-3{
	margin-top: 30px !important;
}

.mt-4{
	margin-top: 40px !important;
}

.mt-5{
	margin-top: 50px !important;
}

.mt-6{
	margin-top: 60px !important;
}

.mr-0{
	margin-right: 0 !important;
}

.mr-1{
	margin-right: 10px !important;
}

.mr-2{
	margin-right: 20px !important;
}

.mr-3{
	margin-right: 30px !important;
}

.mr-4{
	margin-right: 40px !important;
}

.mr-5{
	margin-right: 50px !important;
}

.mr-6{
	margin-right: 60px !important;
}

.mr-300{
	margin-right: 300px !important;
}


.mb-0{
	margin-bottom: 0 !important;
}

.mb-1{
	margin-bottom: 10px !important;
}

.mb-2{
	margin-bottom: 20px !important;
}

.mb-3{
	margin-bottom: 30px !important;
}

.mb-4{
	margin-bottom: 40px !important;
}

.mb-5{
	margin-bottom: 50px !important;
}

.mb-6{
	margin-bottom: 60px !important;
}

.ml-0{
	margin-left: 0 !important;
}

.ml-1{
	margin-left: 10px !important;
}

.ml-2{
	margin-left: 20px !important;
}

.ml-3{
	margin-left: 30px !important;
}

.ml-4{
	margin-left: 40px !important;
}

.ml-5{
	margin-left: 50px !important;
}

.ml-6{
	margin-left: 60px !important;
}

.m0a{
	margin: 0 auto;
}

// -- // Padding // -- //

.p-0{
	padding: 0 !important;
}

.p-1{
	padding: 10px !important;
}

.p-2{
	padding: 20px !important;
}

.p-3{
	padding: 30px !important;
}

.p-4{
	padding: 40px !important;
}

.p-5{
	padding: 50px !important;
}

.p-6{
	padding: 60px !important;
}

.pt-0{
	padding-top: 0 !important;
}

.pt-1{
	padding-top: 10px !important;
}

.pt-2{
	padding-top: 20px !important;
}

.pt-3{
	padding-top: 30px !important;
}

.pt-4{
	padding-top: 40px !important;
}

.pt-5{
	padding-top: 50px !important;
}

.pt-6{
	padding-top: 60px !important;
}

.pr-0{
	padding-right: 0 !important;
}

.pr-1{
	padding-right: 10px !important;
}

.pr-2{
	padding-right: 20px !important;
}

.pr-3{
	padding-right: 30px !important;
}

.pr-4{
	padding-right: 40px !important;
}

.pr-5{
	padding-right: 50px !important;
}

.pr-6{
	padding-right: 60px !important;
}

.pr-300{
	padding-right: 300px !important;
}


.pb-0{
	padding-bottom: 0 !important;
}

.pb-1{
	padding-bottom: 10px !important;
}

.pb-2{
	padding-bottom: 20px !important;
}

.pb-3{
	padding-bottom: 30px !important;
}

.pb-4{
	padding-bottom: 40px !important;
}

.pb-5{
	padding-bottom: 50px !important;
}

.pb-6{
	padding-bottom: 60px !important;
}

.pl-0{
	padding-left: 0 !important;
}

.pl-1{
	padding-left: 10px !important;
}

.pl-2{
	padding-left: 20px !important;
}

.pl-3{
	padding-left: 30px !important;
}

.pl-4{
	padding-left: 40px !important;
}

.pl-5{
	padding-left: 50px !important;
}

.pl-6{
	padding-left: 60px !important;
}


// -- // Floats // -- //

.fl{
	float: left !important;
}

.fr{
	float: right !important;
}

.cb{
	clear: both;
}

// -- // Text Aligns // -- //

.tal{
	text-align: left !important;
}

.tar{
	text-align: right !important;
}

.tac{
	text-align: center !important;
}

// -- // Text Colors // -- //


// -- // Background Colors // -- //


// -- // Displays // -- //

.db{
	display: block;
}

.di{
	display: inline;
}

.df {
	display: flex;
}

.dt{
	display: table !important;
}

// -- // Positions // -- //

.pr{
	position: relative;
}

.pa{
	position: absolute;
}

.pf{
	position: fixed;
}


// -- // Flex // -- //

.center{
	align-items: center;
	justify-content: center;
}

.vertical-center {
	align-items: center;
}

.horizontal-center {
	justify-content: center;
}

.horizontal-end {
	justify-content: flex-end;
}

.horizontal-sb {
	justify-content: space-between;
}

.fc{
	flex-direction: column;
}

// -- // Animations // -- //

.smooth-transition {
   transition: all .4s linear;
}

// -- // Borders // -- //

.border{
	border: 1px solid $primaryColor;
}

.bt{
	border-top: 1px solid $primaryColor;
}

.br{
	border-right: 1px solid $primaryColor;
}

.bb{
	border-bottom: 1px solid $primaryColor;
}

.bl{
	border-left: 1px solid $primaryColor;
}

.b-0{
	border: 0 !important;
}

.border-white{
	border: 1px solid white;
}