.wrap{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	overflow: hidden;
	@include breakpoint(desktop-upwards){
		padding: 0 16px;
	}
	&.no-oh{
		overflow: visible;
	}
	&.wrap-sm{
		max-width: 970px;
	}
}

.row{
	margin: 0 0 15px;
	clear: both;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 15px;
}


// 1 - 60
// 2 - 30
// 3 - 20
// 4 - 15
// 5 - 12
// 6 - 10
// Row - Number of Columns - Parts of 
.row-1{
    grid-template-columns: 1fr;
}
.row-2{
	@include breakpoint(tablet-portrait-upwards){
		grid-template-columns: 1fr 1fr;
	}
}
.row-2_2-1{
	@include breakpoint(tablet-portrait-upwards){
		grid-template-columns: 2fr 1fr;
	}
}
.row-2_1-2{
	@include breakpoint(tablet-portrait-upwards){
		grid-template-columns: 1fr 2fr;
	}
}
.row-2_3-1{
	@include breakpoint(tablet-portrait-upwards){
		grid-template-columns: 3fr 1fr;
	}
}
.row-2_1-3{
	@include breakpoint(tablet-portrait-upwards){
		grid-template-columns: 1fr 3fr;
	}
}
.row-3{
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr;
    }
}
.row-3_2-1-1{
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 2fr 1fr 1fr;
    }	
}
.row-3_1-1-2{
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 2fr;
    }	
}
.row-4{
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.row-5{
	grid-column-gap: 10px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.row-6{
	grid-column-gap: 10px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.row-7{
	grid-column-gap: 10px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.row-8{
	grid-column-gap: 10px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.row-9{
	grid-column-gap: 5px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.row-10{
	grid-column-gap: 5px;
	@include breakpoint(mobile-upwards){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	@include breakpoint(tablet-portrait-upwards){
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.col-height{
	height: 200px;
	background: $primaryColor;
}

.item{
	display: flex;
	border: 1px solid black;
}

