header{
    max-width: 1400px;
    margin: 0 auto;
}

.main-logo {
    float: left;
    font-size: 36px;
    font-family: $headFont;
    line-height: 50px;
    margin-top: 10px;
    color: $headFont;
    font-weight: 400;
}
.top-nav {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    li {
        width: 100%;
        background: $headFont;
        text-align: center;
        margin-right: 0;
        list-style-type: none;
    }
    a {
        text-align: center;
        top: 0px;
        position: relative;
        color: white;
        width: 100%;
        display: block;
        height: 60px;
        line-height: 60px;
        text-decoration: none;
        font-size: 1.6rem;
        font-family: Lato;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover{
            background: white;
            color: $headFont;
        }
    }
    @include breakpoint(tablet-landscape-upwards){
        width: auto;
        list-style-type: none;
        float: right;
        top: 0;
        display: block;
        position: relative;
        li {
            width: auto;
            background: transparent;
            display: inline-block;
            margin-right: 24px;
            line-height: 5rem;
            margin-top: 10px;
            a {
                color: $headFont;
                background: transparent;
                text-decoration: none;
                line-height: 5rem;
                font-size: 1.4rem;
                transition: color .2s linear;
                &:hover{
                    background: transparent;
                    color: white;
                }
            }
        }
    }
}
.mob-nav {
    width: 30px;
    height: 21px;
    display: block;
    float: right;
    margin: 36px 15px 15px;
    cursor: pointer;
    @include breakpoint(tablet-landscape-upwards){
        display: none;
    }
    .mob-nav-line {
        width: 100%;
        height: 3px;
        margin-bottom: 6px;
        background: $headFont;
        display: block;
    }
    .mob-nav-label{
        font-size: 1.15rem;
        font-family: Lato;
        margin-top: -3px;
        display: block;
        color: $headFont;
    }
}