@mixin breakpoint($point) {
  @if $point == mobile-upwards {
    @media (min-width: 568px) { @content; }
  }
  @else if $point == tablet-portrait-upwards {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == tablet-landscape-upwards {
    @media (min-width: 1024px)  { @content; }
  }
  @else if $point == desktop-upwards {
    @media (min-width: 1400px)  { @content; }
  }
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}