//Colours
$primaryColor: #89aa3d;
$secondaryColor: #38b5aa;
$thirdColor: #ffffff;

//Fonts
$headFont: "proxima-nova",sans-serif;
$bodyFont: "museo",serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

//Heights and Widths
$containerWidth: 1024px;
$topBarHeight: 45px;
$mainMenuHeight: 50px;
$headerHeroHeight: 400px;
$containerWidth: 900px;